

@define-mixin atSmall {
    /* If the screen is larger that 530px (530px is somewhat arbitrary) */
    @media (min-width: 530px) {
        @mixin-content;
    }
}


@define-mixin atMedium {
    /* If the screen is larger that 800px */
    @media (min-width: 800px) {
        @mixin-content;
    }
}


@define-mixin atLarge {
    /* If the screen is larger that 1200px */
    @media (min-width: 1010px) {
        @mixin-content;
    }
}


@define-mixin clearfix {
    /* When floating divs in an empty row parent element */
    /* You have to "clear" the floats or else the parent row div doesn't know how tall it should be */
    /* This will create some blank space after all of the content in the row div */
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}