/* CSS for the hero container at top of page */
/* Baseline styles are mobile-first */

.large-hero {
    position: relative;
    border-bottom: 10px solid $mainBlue;


    &__image {
        display: block;
    }


    /* position the text on top of the image */
    &__text-content {
        position: absolute;
        /* position image on left side of screen */
        left: 0;
        /* then have the div extend all the way across the screen */
        width: 100%;
        /* then move text to horizontal center */
        text-align: center;
        /* center top edge of the div vertically with the container it's inside */
        top: 50%;
        /* pull text in the div up by half it's height to center it vertically */
        transform: translateY(-50%); /* this function positions vertically relative to iteslf */
        padding-top: 88px;

        @mixin atMedium {
            padding-top: 60px;
        }
    }


    &__title {
        font-weight: 300;
        color: $mainBlue;
        margin: 0;
        font-size: 2.4rem;

        /* For screen larger than 530px */
        @mixin atSmall {
            font-size: 4.8rem;
        }
    }
    
    
    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.5rem;
        margin: 0;

        
        @mixin atSmall {
            font-size: 2.9rem;
        }
    }


    &__description {
        color: #FFF;
        font-size: 1.1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba (0, 0, 0, .1);
        /* Determined from measuring the pixel width on the ref design image */
        max-width: 30rem;
        /* Ceneter horizontally */
        margin-left: auto;
        margin-right: auto;


        @mixin atSmall {
            font-size: 1.875rem;   
        }
    }
}





