/* Block formatting */

.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    /* prevent content from getting too wide on large screens */
    max-width: 1200px;
    /* keep content centered horizontally */
    margin-left: auto;
    margin-right: auto;
    /* This works with the "margin-right: -65px;" proptery that is added to the row--gutters class */
    /* To remove the extra padding on the right side of the last column */
    /* This hides that margin area that hangs off the edge of the div */
    overflow: hidden;


    &--medium {
        max-width: 976px;
    }

    /* Any wrapper that is nested inside another wrapper don't get the double padding applied */
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}